.labelWrapper {
  font-size: 14px;
  color: #757f90;
  margin-bottom: 10px;
  display: inline-block;
}
.appWrapperInput {
  box-sizing: border-box;
  border: 2px solid #e9eef7;
  border-radius: 8px;
  outline: none;
  padding: 12px 14px 14px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .appImage {
    margin-right: 10px;
    margin-left: 10px;
  }

  .appInput {
    box-sizing: border-box;
    outline: none;
    border: transparent;
    width: 100%;
    color: #757f90;
    font-size: 14px;
  }

  &.errors {
    border: 0.5px solid #e02020;
  }
}

.error {
  color: #e02020;
  font-size: 12px;
  margin: 10px 0;

  span {
    vertical-align: middle;
    margin-left: 5px;
  }
}
